<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная запись на встречу</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <section class="modal d-flex-center">
        <section class="feedback d-flex-center">
            <form class="d-flex-center form" action="">
                <h3 class="center ">{{ first_name }}, Вы записаны на встречу
                    <br>{{ date_of_meeting }} в {{ meeting_time }}!
                    <br>Наш офис находится по адреcу: <br>г.Москва, ул.Мосфильмовская, д. 70.
                    <br>Мы свяжемся с вами для подтверждения времени встречи.
                </h3>
                <button class="btn bold btn-feedback">
                    <a href="/" class="btn-href">Вернуться на Главную страницу</a>
                </button>
            </form>
        </section>
    </section>
</body>
</html>