<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контактные данные</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <section class="modal d-flex-center">
        {% block contact_form %}
        <section class="feedback d-flex-center">
            <form method="post" class="d-flex-center form" action="contact_form_submit">
                <h3 class="center">Остались вопросы? <br>Требуется консультация? <br>Хотите записаться на встречу? <br>
                    Нужна помощь в выборе проекта дома?</h3>
                <p class="main-text center">Заполните свои контактные данные, и наш сотрудник перезвонит вам в
                    ближайшее время и поможет вам</p>
                <input class="text" type="text" id="name" name="name" placeholder="Укажите ваше имя" maxlength="100" required>
                <input class="text" type="tel" id="phone" name="phone" placeholder="Номер телефона" maxlength="20" required>
                <input class="text" type="email" id="email" name="email" placeholder="e-mail">
                <button class="btn bold btn-feedback" type="submit">Заказать звонок</button>
                <div class="btn-text center">
                    <input type="checkbox" id="check" name="check" required>Соглашаюсь с условиями конфиденциальности и передачи данных
                </div>
                <button class="btn btn-close">
                    <a href="/" class="btn-href">X</a>
                </button>
            </form>
        </section>
        {% endblock %}
    </section>
</body>
</html>