<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка при попытке изменить назначенную встречу</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <section class="modal d-flex-center">
        <section class="feedback d-flex-center">
            <form class="d-flex-center form" action="">
                <h3 class="center ">К сожалению, произошла ошибка при попытке изменить ранее назначенную встречу.
                    <br>Чтобы мы могли внести изменения, оставьте ваши контакты
                    по кнопке в правом верхнем углу на любой странице сайта.
                    <br>Наш специалист свяжется с вами, и вы сможете изменить встречу на удобные вам дату и время.
                </h3>
                <button class="btn bold btn-feedback">
                    <a href="/" class="btn-href">Вернуться на Главную страницу</a>
                </button>
            </form>
        </section>
    </section>
</body>
</html>